<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_CBnew"
        tools:targetApi="31">
        <activity
            android:name=".Driver_Completed_Jobs_Activity"
            android:exported="false" />
        <activity
            android:name=".View_All_Booking_Manager"
            android:exported="false" />
        <activity
            android:name=".View_Assign_Driver"
            android:exported="false" /> <!-- ✅ Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyArFeH3SFY8MUXxuoRjr4i-T5LQkn5j6qo" /> <!-- ✅ Launcher -->

        <activity android:name=".View_All_Driver_Manager" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ✅ Common pages -->
        <activity
            android:name=".Home_Page"
            android:exported="true" />
        <activity
            android:name=".Create_account"
            android:exported="false" />
        <activity
            android:name=".Home_Page_Manager"
            android:exported="false" />
        <activity
            android:name=".AssignDriverActivity"
            android:exported="false" />
        <activity
            android:name=".BookingDetails_Manager"
            android:exported="false" /> <!-- ✅ Driver -->
        <activity
            android:name=".Home_Page_Driver"
            android:exported="false" />
        <activity
            android:name=".DriverBookingDetailsActivity"
            android:exported="false" />
    </application>

</manifest>